a{
    text-decoration: none !important;
}

#MainSlider{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
}
.slider-item-main{
    width: 100%;
    height: 100vh;
    
}

.slider-container{
    margin: 0 3rem;  //fixxxx
}

.slider-item-image{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}   
.slick-dots{
    display: none !important;
}

.text-content{
    position: absolute;
    top: 38%;
    margin-left: 30px;
    .subtitle-slider{
        letter-spacing: .1875pc;
        font-weight: 800;
        font-size: 1.125pc;
        color: #000;
    }

    .title-slider{
        font-size: .833333333in;
        font-weight: 300;
        margin-left: -5px;
    }

 
    .description-slider{
        font-size: 15pt;
        margin-bottom: 22.5pt;
        color: #000;
        margin-bottom: 22.5pt;
    }

    .slider-button{
        background-color: #fff;
        color: #000;
        text-transform: uppercase;
        line-height: 40px;
        font-weight: bold;
        font-size: .135416667in;
        letter-spacing: .125pc;
        padding: 10px 48px;
        cursor: pointer;
        &:hover{
            background-color: #000;
            color: #fff;
            transition: .2s;
        }
    }   
}


@media screen and (max-width: 600px) {
    .title-slider{
        width: 100%;
        font-size: 40px !important;
        font-weight: bold !important;
        
    }   
}