.shop-heading{
    text-align: center;
    background-image: url('../../Assets/Images/shop-heading-back-image.jpg');
    background-position: top;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        text-transform: capitalize;
        font-size: 3.125pc;
        font-weight: 400;
        font-family: Barlow Semi Condensed

    }

}

#ShopBody{
    //filter category
    padding: 40px 0;
    
    .left-filter-area{
      
    }

    .filter-categories{
      .reset{
        color: #000;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .filter-categories-heading{
        text-align: left;
        h2{
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            font-family: Barlow Semi Condensed
        }
    }

    .filter-categoires-body{
        ul{
            padding-left: 0rem;
        
            li{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a{
                    font-family: Barlow Semi Condensed;
                    color: #868686;
                    transition: .2s;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    &:hover{
                        color: #000;
                    }
                }
            }
            span{
               
                display: inline-block;
                text-align: center;
                color: #868686;
                background: #f1f1f1;
                border-radius: 100%;
                font-weight: 400;
                height: 25px;
                width: 18.75pt;
                line-height: 1.5625pc;
                font-size: 15px;
                margin-bottom: 5px;
            }
        }
      
    }

    .filter-brand-heading{
        text-align: left;
        h2{
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            font-family: Barlow Semi Condensed
        }
    }

    .filter-brand-body{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        text-align: left;
       img{
        width: 82px;
        height: 82px;
        object-fit: cover;
        border: 1px solid #ddd;
        margin: 2px;
        transition: .1s;
        &:hover{
            border: 1px solid #000;
        }
       }
    }

    
    // Product Area
    .products-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      text-align: center;
      select{
        outline: none;
        
      }

      .text{
        color: #868686;
        font-family: Barlow Semi Condensed;
      }
    }

    .product-box {
      margin-bottom: 1px;
        &:hover {
          button {
            opacity: 1;
          }
        }
      }
    
      .product-box-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        .name {
          display: inline-block;
          color: #000;
          font-size: 14px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          font-family: Barlow Semi Condensed;
          margin: 10px 0;
        }
    
        .price{
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 10px;
        }
    
        button {
          border: none;
          background: #7d7d7d;
          color: #f2f2f2;
          padding: 7px 35px;
          font-size: 16px;
          border-radius: 5px;
          position: relative;
          box-sizing: border-box;
          transition: all 500ms ease;
          overflow: hidden;
          opacity: 0;
          margin-bottom: 20px;
        }
    
        button:before {
          font-family: FontAwesome;
          content: "\f217";
          position: absolute;
          top: 11px;
          left: -30px;
          transition: all 200ms ease;
        }
    
        button:hover:before {
          left: 7px;
        }
    
        button:hover {
          box-shadow: 1px 3px 8px #000;
        }
      }
      .product-image {
        width: 100%;
        height: 261px;
        object-fit: cover;
      }
    
    
      .loadmore-button{
        border: 1px solid #868686;
        background-color: transparent;
        font-weight: 300;
        font-family: Barlow Semi Condensed;  
        padding: 5px 20px;
        margin-top: 40px;
        transition: .5s;
    
        &:hover{
            background-color: #000;        
            color: #fff;
        }
      }

}








