#Features {
  padding: 40px 0;
  text-align: center;

  .feature-box {
    border: 1px solid #e4e4e4;
    padding: 49px 10px 22px;
    
    i {
      font-size: 40px;
    }

    .feature-box-title {
      font-size: 15pt;
      font-weight: 400;
      font-family: Barlow Semi Condensed;
      color: #000;
    }

    .feature-box-description {
      color: #868686;
      font-weight: 500;
      font-family: Barlow Semi Condensed;
    }
  }
}
